.systempay_container {
  position: relative;
  margin-bottom: 50px;
  text-align: right;
}

.systempay_container p {
  text-align: left;
  color: grey;
  font-family: Arial, sans-serif;
}

.systempay_submit_button {
  display: inline-block;
}

.systempay_loader {
  margin: 50px auto;
  padding: 0;
  background: url("../img/rolling.svg") no-repeat center center;
  width: 100px;
  height: 100px;
}
